<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="org.openforis.collect.android"
		android:versionCode="3" android:versionName="3.0.2">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!--<uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-group android:name="android.permission-group.STORAGE" />
    <instrumentation android:name="android.test.InstrumentationTestRunner"
       android:targetPackage="org.openforis.collect.android" android:label="Tests for mOFC" />
    
    <application android:icon="@drawable/applicationicon" android:label="@string/app_name">
		<uses-library android:name="android.test.runner" />
		<!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
 		<activity android:name=".management.ApplicationManager"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.Translucent.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden"
		          android:screenOrientation="portrait">      
			<intent-filter>
			    <action android:name="android.intent.action.MAIN" />
			    <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".management.BaseActivity"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden">
		</activity>		
		
		<activity android:name=".management.BaseListActivity"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden">
		</activity>
		
		<activity android:name=".misc.WelcomeScreen"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden"
		          >
		</activity>
		
		<activity android:name="org.openforis.collect.android.screens.SettingsScreen"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden">
		</activity>
		
		<activity android:name=".screens.FormScreen"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden"> 
		</activity>
		
		<activity android:name="org.openforis.collect.android.lists.RecordChoiceActivity"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden">
		</activity>
		
		<activity android:name=".lists.RootEntityChoiceActivity"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden">
		</activity>		
				
		<activity android:name="org.openforis.collect.android.dialogs.DateSetDialog"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden">
		</activity>	
		
		<activity android:name="org.openforis.collect.android.dialogs.TimeSetDialog"
		          android:label="@string/app_name"
		          android:theme="@android:style/Theme.NoTitleBar"
		          android:configChanges="orientation|keyboardHidden">
		</activity>	
		
		<activity android:name="org.openforis.collect.android.dialogs.SearchTaxonActivity"
          android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"
          android:configChanges="orientation|keyboardHidden">
		</activity>
		
		<activity android:name="org.openforis.collect.android.screens.CameraScreen"
		  android:configChanges="orientation|keyboardHidden" 
		  android:label="@string/app_name"
		  android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<category android:name="android.intent.category.DEFAULT" />
					<category android:name="android.intent.category.BROWSABLE" />
				</intent-filter>
		</activity>
		
		<activity android:name="org.openforis.collect.android.misc.GpsActivity"
          android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"
          android:configChanges="orientation|keyboardHidden"
          >
		</activity>		
    </application>
</manifest> 